<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Import Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@0.3.4/dist/forms.min.js"></script>
    <style>
        .eye-icon {
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
        <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
            <h2 class="text-2xl font-semibold mb-6">Change Password</h2>
            <form action="/auth/gantiPassword" method="POST">
                <div class="mb-4">
                    <div class="relative">
                        <input type="password" id="passwordLama" name="passwordLama"
                            class="peer py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                            placeholder="Current Password">
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                            <svg id="togglePasswordLama" class="eye-icon h-5 w-5 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12A3 3 0 1 1 9 12A3 3 0 0 1 15 12zM2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="relative">
                        <input type="password" id="passwordBaru" name="passwordBaru"
                            class="peer py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                            placeholder="New Password">
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                            <svg id="togglePasswordBaru" class="eye-icon h-5 w-5 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12A3 3 0 1 1 9 12A3 3 0 0 1 15 12zM2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="relative">
                        <input type="password" id="konfirmasiPassword" name="konfirmasiPassword"
                            class="peer py-3 px-4 block w-full bg-gray-100 border-transparent rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-700 dark:border-transparent dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                            placeholder="Confirm Password">
                        <div class="absolute inset-y-0 right-0 pr-3 flex items-center">
                            <svg id="togglekonfirmasiPassword" class="eye-icon h-5 w-5 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12A3 3 0 1 1 9 12A3 3 0 0 1 15 12zM2.458 12C3.732 7.943 7.522 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.478 0-8.268-2.943-9.542-7z"></path></svg>
                        </div>
                    </div>
                </div>
                <div class="mt-6">
                    <button type="submit"
                        class="w-full mt-6 font-bold bg-blue-500 hover:bg-blue-600 text-white font- semibold py-2 px-4 rounded-lg flex justify-center items-center " >
                        Ubah Password
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('togglePasswordLama').addEventListener('click', function () {
            const currentPasswordInput = document.getElementById('passwordLama');
            const type = currentPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            currentPasswordInput.setAttribute('type', type);
            this.classList.toggle('text-gray-700');
            this.classList.toggle('text-gray-500');
        });

        document.getElementById('togglePasswordBaru').addEventListener('click', function () {
            const newPasswordInput = document.getElementById('passwordBaru');
            const type = newPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            newPasswordInput.setAttribute('type', type);
            this.classList.toggle('text-gray-700');
            this.classList.toggle('text-gray-500');
        });

        document.getElementById('toggleKonfirmasiPassword').addEventListener('click', function () {
            const confirmPasswordInput = document.getElementById('konfirmasiPassword');
            const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordInput.setAttribute('type', type);
            this.classList.toggle('text-gray-700');
            this.classList.toggle('text-gray-500');
        });
    </script>
</body>

</html>